<div class="container">
  <div class="col-xs-12 col-lg-4 col-lg-offset-4 login-form">
    <h1 class="text-center">Register</h1>
    <%= form_for :login, :html => {:class => 'form-horizontal'}, url: login_index_path do |f| %>

      <div class="form-group">
        <%= f.label :username %><br>
        <%= f.text_field :username, :class => "form-control", :placeholder => "Username" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, :class => "form-control", :placeholder => "Username"%>
      </div>

      <%= f.submit :class => 'btn btn-default pull-right', :value => "Sign in" %>
    <% end %>
  </div>
    
</div>